{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>Detalhes do Episódio</h1>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ episode.name }}</h3>
            <p class="card-text">Data de Lançamento: {{ episode.air_date }}</p>
            <p class="card-text">Código do Episódio: {{ episode.episode }}</p>
            <h5 class="card-title">Personagens:</h5>
            <ul class="list-group">
                {% for character_url in episode.characters %}
                {% set character_id = character_url.split('/')[-1] %}
                {% set character_info = get_character_info(character_id) %}
                {% if character_info %}
                    <li class="list-group-item">
                        <a href="/profile/{{ character_id }}" class="card-link">{{ character_info.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
